body{    
    font-family: 'Libre Franklin', sans-serif;
    color: #6C6C6C;
    font-size: 14px;
    line-height: 24px;
    &.lock{
        overflow: hidden;
    }
}
a{
    color: inherit;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    position: relative;
    padding: 34px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        margin-right: auto;
        font-size: 33px;
        line-height: 40px;
        font-family: 'Pacifico', cursive;
        font-style: normal;
        color: #000;
    }
}
.menu{
    position: relative;
    @media  (max-width: 768px) {
        background-color: rgba(0, 0, 0, 0.95);
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        transition: all .3s;
        &.active{
            transform: translateX(0);
        }
    }
    &__list{
        display: flex;
        @media  (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            font-size: 26px;
            margin-top: 70px;
            color: rgb(170, 170, 170);
        }
    }
    &__item{
        margin: 0 20px;
        @media  (max-width: 768px) {
            margin-bottom: 50px;
        }
    }
    &__item--active{
        color: #AC1313;
    }
    &::after{
        content: '';
        width: 1px;
        height: 38px;
        background-color: #EBEBEB;
        position: absolute;
        top: -7px;
        right: 0;
    }
}
.burger{
    display: none;
    @media  (max-width: 768px) {
        display: block;
        
        margin-left: 20px;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        &::before{
            content: '';
            width: 100%;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .3s;
        }
        &::after{
            content: '';
            width: 100%;
            height: 2px;
            background-color: #000;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .3s;
        }
        span{
            width: 100%;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 9px;
            left: 0;
        }
        &.active{
            &::before{
                transform: rotate(45deg);
                top: 9px;
                background-color: #AC1313;
            }
            &::after{
                transform: rotate(-45deg);
                bottom: 9px;
                background-color: #AC1313;

            }
            span{
                display: none;
            }
        }
    }
}
.cart{
    margin: 0 15px;
    display: flex;
    gap: 5px;
    &__icon{
        width: 20px;
        height: 20px;
    }
}
.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000;
    @media  (max-width: 500px) {
        font-size: 30px;
        line-height: 36px;
    }
 
}
.subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    color: #D77474;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.btn{
    display: inline-block;
    background-color: #e21a1a;
    color: #fff;
    padding: 20px 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .5s;
    &:hover{
        background-color: #c51717;
    }
}
.first-screen{
    background: url(../img/first-screem-bg.jpg) center no-repeat;
    background-size: cover;
    padding: 192px 0 100px;
    margin-bottom: 120px;
    @media  (max-width: 900px) {
        padding: 150px 0;
    }
    @media  (max-width: 500px) {
        padding: 100px 0;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        @media  (max-width: 900px) {
            justify-content: center;
            text-align: center;
        }
    }
    &__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        font-family: 'Poppins', sans-serif;
        max-width: 422px;
        margin-bottom: 14px;
        color: #000;
        @media  (max-width: 500px) {
            font-size: 36px;
            line-height: 42px;
        }
        @media  (max-width: 360px) {
            font-size: 30px;
            line-height: 36px;
        }
    }
    &__subtitle{
        margin-bottom: 12px;
    }
    &__desc{
        margin-bottom: 51px;
    }
    &__img{
        @media  (max-width: 900px) {
            display: none;
        }
    }
}
.categories{
    margin-bottom: 200px;
    text-align: center;
    @media  (max-width: 992px) {
        margin-bottom: 150px;
    }
    @media  (max-width: 768px) {
        margin-bottom: 100px;
    }
    &__title{
        margin-bottom: 60px;
        color: #000;
        @media  (max-width: 768px) { 
            margin-bottom: 30px;

        }
    }
    &__subtitle{
        margin-bottom: 17px;
    }
    &__pottery{
        display: flex;
        justify-content: space-around;
        margin-bottom: 90px;
    }
    &__img{
        display: block;
        width: 100%;
    }
    &__desc{
        display: flex;
        justify-content: space-between;
        gap: 30px 133px;
        text-align: left;
        @media  (max-width: 992px) {
            gap: 30px;
        }
        @media  (max-width: 768px) {
            flex-direction: column;
        }
    }
    &__desc-title{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 29px;
        line-height: 36px;
        margin-bottom: 26px;
        color: #000;
        @media  (max-width: 768px) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 10px;

        }
    }
}
.store{
    margin-bottom: 120px;
    text-align: center;
    @media  (max-width: 768px) {
        margin-bottom: 100px;
    }
    &__title{
        margin-bottom: 60px;
    }
    &__subtitle{
        margin-bottom: 17px;
    }
    &__items{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 60px;
    }
    &__item{
        width: 371px;
        text-align: left;
        @media  (max-width: 992px) {
            width: 280px;
        }
        img{
            width: 100%;
        }
    }
    &__item-desc{
        font-size: 16px;
        line-height: 26px;
    }
    &__item-price{
        color: #000;
    }
}
.new-collection{
    margin-bottom: 120px;
    padding: 120px 0;
    background: url(../img/new-collection-bg.jpg) center no-repeat;
    background-size: cover;
    &__title{
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        font-family: 'Poppins', sans-serif;
        color: #000;
        margin-bottom: 30px;
    }
}
.subscribe{
    margin-bottom: 160px;
    text-align: center;
    @media  (max-width: 768px) {
        margin-bottom: 100px;
    }
    &__icon{
        display: block;
        margin: 0 auto 40px;
    }
    &__title{
        font-weight: 400;
        margin-bottom: 60px;
    }
    &__form-box{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        gap: 10px 4px;
        @media  (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__form-email{
        padding: 17px 40px 15px;
        width: 320px;
        border: 1px solid #EBEBEB;
        @media  (max-width: 500px) {
            width: 280px;
        }
    }
    &__form-btn{
        padding: 17px 51px 15px;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        transition: all .5s;
        &:hover{
            background-color: #2b2b2b;
        }
        @media  (max-width: 768px) {
            width: 320px;
        }
        @media  (max-width: 500px) {
            width: 280px;
        }
    }
    &__form-checkbox{
        width: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
    }
    &__form-checkbox:checked + &__form-label::after{
        background-color: #8534FF;
    }
    &__form-label{
        position: relative;    
        padding-left: 30px;    
        cursor: pointer;
        &::after{
            content: '';
            width: 16px;
            height: 16px;
            border: 2px solid #8534FF;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.footer{
    padding: 60px 0;
    background-color: #DBDBDB;
    &__inner{
        display: flex;
        justify-content: space-around;
        gap: 40px;
        @media  (max-width: 768px){
            flex-direction: column;
        }
    }
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__box-icon{
        width: 40px;
        display: block;
        margin-bottom: 10px;
    }
    &__box-desc{
        color: #000;
        margin-bottom: 15px;
        font-size: 13px;
        line-height: 23px;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;

    }
}